.ui-slider .ui-slider-handle {
  border: $solid-line;
  background: white;
  &:focus {
    outline: none;
  }
  // &:hover {
  //   transform: scale(1.05);
  // }
}

.ui-slider-range {
  background: white;
}
