// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 #FFFFFF;
$font-size-base: 1rem;

// Colors
$body-color: $gray;
$primary:    $blue;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;

// Margins

$container-margin: 16px;

// Borders

$solid-line: 1px solid black;

// Links

a:link, a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
    color: black !important;
}

// Inputs

input, button
{
  border: none;
  background: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
