.canvas-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100vw;
  height: 85vh;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.12);
}
