<div class="footer">
    <div class="footer__inner">
        <div class="footer-buttons__container">
            <button class="footer-button" data-toggle="tooltip" data-placement="top" data-animation="false" title="new set of pages">
                <%= link_to ('<i class="icon-refresh"></i>').html_safe, "" %>
            </button>
            <button class="footer-button" id="openPagesFromSelected" data-toggle="tooltip" data-placement="top" data-animation="false" title="more pages from selection">
                <i class="icon-layers"></i>
            </button>
            <button class="footer-button" id="openCanvasImg" data-toggle="tooltip" data-placement="top" data-animation="false" title="open selection">
                <i class="icon-link"></i>
            </button>
            <button class="footer-button" id="showInfo" data-toggle="tooltip" data-placement="top" data-html="true" data-animation="false" title="<%= render 'shared/info' %>">
                <i class="icon-info"></i>
            </button>
        </div>
    </div>
</div>
