<nav>
  <div class="nav-sliders">
    <div class="slider-container" aria-label="min" data-microtip-position="bottom" role="tooltip">
      <input class="nav-slider" type="range" min="0" max="8888888" class="slider" id="patentMinSlider">
    </div>
    <div class="slider-container" aria-label="max" data-microtip-position="bottom" role="tooltip">
      <input class="nav-slider" type="range" min="0" max="8888888" class="slider" id="patentMaxSlider">
    </div>
  <div class="nav-title">
  </div>
  <div class="nav-actions">
    <button aria-label="new batch" data-microtip-position="bottom-left" role="tooltip">
      <%= link_to ('<i class="fas fa-sync nav-button"></i>').html_safe, "" %>
    </button>
    <button id="openCanvasImg" aria-label="open selection" data-microtip-position="bottom-left" role="tooltip">
      <i class="fas fa-link nav-button"></i>
    </button>
  </div>
</nav>
