<nav>
    <div class="nav__inner">
        <div class="nav-slider__container">
            <div id="fieldSlider" class="nav-slider__input" style="border: 1px solid black;"></div>
        </div>
    </div>
</nav>
