nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background: transparent;
  height: 40px;
}

.nav-title {
  grid-column: 1;
  text-align: left;
}

.nav-actions {
  font-size: 25px;
  grid-column: 3;
  text-align: right;
}
