nav {
  background: white;
  border-bottom: solid 1px black;
  left: 0;
  height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav__inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: {
    top: 0;
    bottom: 0;
  }
  position: relative;
  width: 100%;
}

.nav-slider__container {
  margin-left: $container-margin;
  margin-right: $container-margin;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-slider__input {
  width: 100%;
  margin-left: 8px;
  border: $solid-line;
}

.nav-title {
  grid-column: 2;
  text-align: left;
}
