<h1 style="text-align: center">New</h1>
<div class="field-container" id="field">
  <canvas id="canvas" width="600" height="600"/>
</div>
<div class="field-container" id="svg" width="600" height="600">
</div>
