<!-- <h1 style="text-align: center">New</h1> -->
<nav>
  <div class="nav-title">
  </div>
  <div class="nav-actions">
    <%= link_to ('<i class="fas fa-sync nav-button"></i>').html_safe, "" %>
    <button id="openCanvasImg"><i class="fas fa-link nav-button"></i></button>
  </div>
</nav>
<div class="canvas-container" id="field">
  <canvas id="canvas" width="600" height="600"/>
</div>

