<!-- <h1 style="text-align: center">New</h1> -->
<nav>
  <div class="nav-title">
  </div>
  <div class="nav-actions">
    <%= link_to "🔄", "", class: "nav-action" %>
  </div>
</nav>
<div class="canvas-container" id="field">
  <canvas id="canvas" width="600" height="600"/>
</div>

